@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sunshiney&display=swap');

h1,
.subtitle {
  font-family: "Sunshiney", cursive;
  font-weight: 400;
}



.star-overlay-left {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 20%;
  height: auto;
  transform: scaleX(-1);
  z-index: 1;
}

.star-overlay-right {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 20%;
  height: auto;
  z-index: 1;
}

.contact-overlay-left {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 20%;
  height: auto;
  z-index: 1;
}

.contact-overlay-right {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 20%;
  height: auto;
  transform: scaleX(-1);
  z-index: 1;
}

.blog_post {
  padding-top: 5%;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 5%;
}

msj_tabs {
  color: black;
}